@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*kleuren gebruik*/



/*////////////////////////
    1. Global Styles

 */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*///////////////////////!*/



/*////////////////////////
/*    2. Typography*/




/*///////////////////////!*!*/



/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header




/////////////*/

}

.pet-badge {
    display: inline-block;
    background-color: #EED7C5;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.10);
}

.pet-image {
    width: 300px;
    border-radius: 50%;
    border: 8px solid #B36A5E;
    margin-bottom: 10px;
}

.pet-name {
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: #B36A5E;
}


/*///////////// 3.2 Testimonial /////////////*/



/*///////////// 3.3 Support /////////////*/



/*///////////// 3.4 Faq /////////////*/



/*///////////// 3.5 Footer /////////////*/